<section class="book-background row text-xs-center mb-2">
  <div class="col-md-6">
    <div class="box-wrap">
      <div id="box" class="show-front">
        <figure class="front"></figure>
        <figure class="back"></figure>
        <figure class="right"></figure>
        <figure class="left"></figure>
        <figure class="top"></figure>
        <figure class="bottom"></figure>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="mb-1" style="color: #222!important;">Once Upon a Nordic Larp: <br>20 years of playing stories</h2>
    <p><a href="https://nordiclarp.org/w/images/d/d4/2017_OnceUponANordicLarp.pdf" class="btn btn-lg btn-primary" style="background-color:transparent;border-color:#222;color:#222;" download>Download PDF (7.4mb)</a></p>
    <p><a href="https://nordiclarp.org/wiki/Once_Upon_a_Nordic_Larp..._Twenty_Years_of_Playing_Stories" style="color:#222;text-decoration:underline;">Read more on Nordic Larp Wiki</a></p>
  </div>
</section>
