<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1><a href="/">{{site.title}}</a></h1>
    </div>
    <div class="col-sm-2">
      <div class="outline bg-white pv4">
        <strong>Info</strong>
        <ul class="list-unstyled">
          <li><a href="/info/#vision">Vision</a></li>
          <li><a href="/info/#history">History</a></li>
          <li><a href="/info/#organizers">Organizers</a></li>
          <li><a href="/info/#contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="outline bg-white pv4">
        <strong>Conference</strong>
        <ul class="list-unstyled">
          <li><a href="/program/">Program</a></li>
          <li><a href="/tickets/">Tickets</a></li>
          <li><a href="/week-in-norway/">Week in Norway</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="outline bg-white pv4">
        <strong>Book</strong>
        <ul class="list-unstyled">
          <li><a href="/book/">Call for Papers</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
