<div class="container-fluid mx-2 text-xs-center">
  <div class="row">
    <div class="{% if title | slugify != "home" %}col-xs-12{% endif %}">
      <h1><a href="/" class="logo">Knutepunkt 2017</a></h1>
      <p>February 23-26, 2017 &bull; Oslo, Norway</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="outline bg-white pv4">
        <strong><a href="/info/">Info</a></strong>
        <ul class="list-unstyled">
          <li><a href="/info/organizers/">Organizers</a></li>
          <li><a href="/info/contact/">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="outline bg-white pv4">
        <strong><a href="/conference/">Conference</a></strong>
        <ul class="list-unstyled">
          <li><a href="/conference/program/">Program</a></li>
          <li><a href="/conference/time-labyrinth/">Time Labyrinth</a></li>
          <li><a href="/conference/the-totem/">The Totem</a></li>
          <li><a href="/conference/tickets-and-payment/">Tickets and Payment</a></li>
          <li><a href="/conference/q-and-a/">Q&amp;A</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="outline bg-white pv4">
        <strong><a href="/week/">Week in Norway</a></strong>
        <ul class="list-unstyled">
          <li><a href="/week/program">Program</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="outline bg-white pv4">
        <strong><a href="/book/">Book</a></strong>
      </div>
    </div>
  </div>
</div>
