<table>
  <tr>
    <th>When</th>
    <th class="tHeader">Where</th>
    <th>Pitch</th>
    <th class="tHeader">Host</th>
  </tr>
  <div id="table_content"></div>
</table>

<script id="event-template" type="text/x-handlebars-template">
  <tr>
    <td>{{day}} {{start}} - {{end}}</td>
    <td>{{room}}</td>
    <td>
      <p><strong>{{format}}</strong></p>
      <h2>{{title}}</h2>
      {{pitch}}
    </td>
    <td>{{host}}</td>
  </tr>
</script>

<script type="text/javascript">
  var public_spreadsheet_url = 'https://docs.google.com/spreadsheets/d/1m99et3TDpMYJ8wBBqknzvhnGV6RXxtasZMkRd_grL2o/pubhtml';

  $(document).ready( function() {
    Tabletop.init( { key: public_spreadsheet_url,
                     callback: showInfo,
                     parseNumbers: true } );
  });

  function showInfo(data, tabletop) {
    var source   = $("#event-template").html();
    var template = Handlebars.compile(source);

    $.each( tabletop.sheets("pitcher").all(), function(i, event) {
      var html = template(event);
      $("#table_content").append(html);
    });
  }
</script>
