/*
sssssssss+-    `ssss`      hhhh+    hhhh.ohhhhhhhhhhhy  .+shddhhs/`   -hhhh:   -hhhy  shhhhhhhhh ®
dddhsssyddds   sdddds      dddddo  `dddd.+yyyhddddyyyy oddds+/+hddd/  -ddddd/  :dddh  ydddhyyyyy
ddds    yddd. /ddyydd/     dddddds``dddd.    /ddds    +ddd/     sddd- -dddddd+ :dddh  yddd:
dddy--:/dddh`.ddd--ddd.    ddddhddy.dddd.    /ddds    hddd`     :ddd+ -ddddhddo:dddh  ydddhhhhhs
dddddddddho. ydds  oddy    dddd-sddhdddd.    /ddds    hddd`     :ddd+ -dddh.hddhdddh  ydddyssss+
ddds....`   +ddddhhddddo   dddd. odddddd.    /ddds    +ddd/     sddd- -dddh `ydddddh  yddd:
ddds       -dddo::::oddd-  dddd.  +ddddd.    /ddds     odddy++ohddd:  -dddh  `sddddh  ydddhyyyyy
sss+       osss      osso  yyyy.   /yyyy`    :yyyo      .+shhdhys/`   -yyyy    oyyys  syyyyyyyyy

Annually, Pantone declares a particular color "Color of the Year". Twice a year the company hosts, in a European capital, a secret meeting of representatives from various nations' color standards groups. After two days of presentations and debate, they choose a color for the following year that purportedly connects with the zeitgeist.
*/

$greenery:        #88B04B; // 2017
$serenity:        #92A8D1; // 2016
$rosequartz:      #F7CAC9; // 2016
$marsala:         #955251; // 2015
$radiantorchid:   #B163A3; // 2014
$emerald:         #009473; // 2013
$tangerinetango:  #DD4124; // 2012
$honeysuckle:     #D94F70; // 2011
$turquoise:       #45B5AA; // 2010
$mimosa:          #F0C05A; // 2009
$blueiris:        #5A5B9F; // 2008
$chilipepper:     #9B1B30; // 2007
$sanddollar:      #DECDBE; // 2006
$blueturquoise:   #53B0AE; // 2005
$tigerlily:       #E2583E; // 2004
$aquasky:         #7BC4C4; // 2003
$truered:         #BF1932; // 2002
$fuchsiarose:     #C74375; // 2001
$cerulean:        #9BB7D4; // 2000
